$theme-colors: (
        "primary": #2E71B9,
        "secondary": #E5541B,
        "danger": #DB2B39,
        "warning": #ECC30B,
        "light": #F2F7F6,
        "light-2": #C7CBCA,
        "dark-2": #212124
);

$font-size-base: 1.05rem;
$border-radius: .50rem;

$input-btn-padding-y: .4rem;
$input-btn-padding-x: 1.3rem;

$navbar-dark-color: map_get($theme-colors, "light");
$nav-link-padding-y: .6rem;

@import "bootstrap/bootstrap";


.cookie-warning {
  position: fixed;
  width: 100vw;
  padding: 0.7em;
  bottom: 0;
  background-color: map_get($theme-colors, "primary");
  font-size: $font-size-base * 1.2;
}


code {
  background-color: map_get($theme-colors, "dark-2");
  padding: 0.2em;
  border-radius: 5px;
}


.footer {
  .footer-waves {
    fill: map_get($theme-colors, "primary");
  }
}

.divider {
  padding-top: 1px;
  margin: 1rem;
}