@import "global";


.waves {
  position: relative;

  .waves-stats {
    display: block;
    position: absolute;
    z-index: 2;
  }

  svg {
    position: absolute;
    fill: map_get($theme-colors, "primary");
  }
}


section, .header {
  padding-top: $spacer * 8;
  padding-bottom: $spacer * 8;
}

#examples {
  padding-top: $spacer * 12;
  padding-bottom: $spacer * 4;
}

.example {
  .example-img {
    border-radius: $border-radius;
    width: 100%;
  }
}

.feature {
  .feature-icon {
    font-size: $h1-font-size * 1.2;
  }

  .feature-text {
    height: 5em;
  }
}

.stat {
  .stat-icon {
    font-size: $h1-font-size;
    padding: 0.5em;
    background-color: map_get($theme-colors, "light");
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba(map_get($theme-colors, "dark") ,.4);
  }
}

.question {
  .question-btn {
    width: 100%;
  }
}

.footer .footer-waves {
  background-color: map_get($theme-colors, "light-2");
}

.tier {
  overflow: hidden;

  .tier-img {
    height: 7em;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .tier-features {
    height: 20em;
  }
}