{% extends "errors/error.jinja2" %}

{% block error_code %}404{% endblock %}
{% block error_text %}Looks like you got lost ...{% endblock %}

{% block error_img %}
    <img src="https://i.imgur.com/OBB7tLg.gif" alt="NEVER GONNA GIVE YOU UP">
{% endblock %}