{% extends "errors/error.jinja2" %}

{% block error_code %}500{% endblock %}
{% block error_text %}Something went wrong on our side ...{% endblock %}

{% block error_img %}
    <img src="https://i.imgur.com/fWvgt8Z.gif" alt="NEVER GONNA GIVE YOU UP">
{% endblock %}