<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Xenon Bot{% endblock title %}</title>

    <meta name="description"
          content="{% block description %}Backup, Archive, Copy, Clone or Synchronize your discord with just one command and take advantage of hundreds of free templates.{% endblock description %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block opengraph %}
        <meta property="og:title" content="Xenon Bot"/>
        <meta property="og:url" content="https://xenon.bot"/>
        <meta property="og:description"
              content="Backup, Archive, Copy, Clone or Synchronize your discord with just one command and take advantage of hundreds of free templates.">
        <meta property="og:image" content="/static/logo.png"/>
    {% endblock opengraph %}

    <link rel="icon"
          type="image/png"
          href="/static/favicon.ico">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    {% block css %}
    {% endblock css %}
</head>
<body class="bg-dark text-light">
<header>
    {% block header %}
        {% include 'header.jinja2' %}
    {% endblock header %}
</header>

{% block main %}
{% endblock main %}

<footer>
    {% block footer %}
        {% include 'footer.jinja2' %}
    {% endblock footer %}
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

<div class="cookie-warning" style="display: none;">
    We are using cookies to ensure you get the best experience on our website.
    <a href="/legal/cookies" class="text-secondary">Learn More</a>
    <button class="btn text-light float-right cookie-warning-close" onclick="closeCookieWarning()">
        <i class="material-icons float-right">cancel</i>
    </button>
</div>

<script>
    function getCookie(name) {
        let v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
        return v ? v[2] : null;
    }

    function setCookie(name, value, days) {
        let d = new Date;
        d.setTime(d.getTime() + 24 * 60 * 60 * 1000 * days);
        document.cookie = name + "=" + value + ";path=/;expires=" + d.toGMTString();
    }

    function deleteCookie(name) {
        setCookie(name, '', -1);
    }

    $(() => {
        if (getCookie("cookies") !== "1") {
            $(".cookie-warning").css("display", "block");
        }

        $(".cookie-warning-close").click(() => {
            $(".cookie-warning").css("display", "none");
            setCookie("cookies", "1", 7);
        })
    });
</script>

{% block js %}
{% endblock js %}
</body>
</html>