<div class="footer">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="footer-waves">
        <path fill-opacity="1"
              d="M0,192L26.7,202.7C53.3,213,107,235,160,208C213.3,181,267,107,320,85.3C373.3,64,427,96,480,144C533.3,192,587,256,640,250.7C693.3,245,747,171,800,144C853.3,117,907,139,960,170.7C1013.3,203,1067,245,1120,224C1173.3,203,1227,117,1280,80C1333.3,43,1387,53,1413,58.7L1440,64L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"></path>
    </svg>
    <div class="bg-primary py-5">
        <div class="container pb-5 mb-5">
            <div class="row">
                <div class="col-12 col-md-6 pb-5 pb-md-0">
                    <h4>Xenon Bot</h4>
                    <h5 class="lead">Copyright © 2020 Merlin Fuchs</h5>
                </div>
                <div class="col-12 col-md-3 col-sm-6">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="/discord" class="nav-link text-light p-1">Discord</a>
                        </li>
                        <li class="nav-item">
                            <a href="mailto:hi@merlin.gg" class="nav-link text-light p-1">Email</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-3 col-sm-6">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="/legal/privacy" class="nav-link text-light p-1">Privacy Policy</a>
                        </li>
                        <li class="nav-item">
                            <a href="/legal/cookies" class="nav-link text-light p-1">Cookie Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>