<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item pr-3">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item pr-3">
                    <a class="nav-link" href="/status">Status</a>
                </li>
                <li class="nav-item pr-3">
                    <a class="nav-link" href="/templates">Templates</a>
                </li>
                <li class="nav-item pr-3">
                    <a class="nav-link disabled" href="/dashboard">Dashboard</a>
                </li>
            </ul>
            <a class="btn btn-secondary my-2 my-sm-0 mr-3 text-light" href="/discord">
                <span class="align-middle">Support</span>
            </a>
            <a class="btn btn-outline-light my-2 my-sm-0" href="/docs">
                <i class="material-icons align-middle pr-1">menu_book</i>
                <span class="align-middle">Docs</span>
            </a>
        </div>
    </div>
</nav>