{% extends "base.jinja2" %}

{% block css %}
    <link rel="stylesheet" href="/static/index.css">
{% endblock %}

{% block main %}
    <div>
        <div class="bg-primary header">
            <div class="text-center text-light">
                <h1 class="display-2 font-weight-normal py-3">Xenon</h1>
                <h3 class="text-light-2 mb-5">Discord Backups, Templates and More</h3>

                <a class="btn btn-secondary my-2 my-sm-0 mr-3 text-light" href="#tiers">
                    <span class="align-middle">Premium</span>
                </a>
                <a class="btn btn-outline-light my-2 my-sm-0" href="/invite">
                    <span class="align-middle">Invite</span>
                </a>
            </div>
        </div>
        <div class="waves pb-xl-5">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill-opacity="1"
                      d="M0,160L34.3,149.3C68.6,139,137,117,206,128C274.3,139,343,181,411,170.7C480,160,549,96,617,101.3C685.7,107,754,181,823,229.3C891.4,277,960,299,1029,277.3C1097.1,256,1166,192,1234,186.7C1302.9,181,1371,235,1406,261.3L1440,288L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path>
            </svg>
        </div>
    </div>
    <section id="examples">
        <div class="container">
            {% for example in examples %}
                {% if loop.cycle("n", "r") == "n" %}
                    <div class="row example py-5 mb-3">
                        <div class="col-sm-12 col-md-6 pb-4">
                            <h3 class="example-title display-4 pb-2">{{ example.title }}</h3>
                            <p class="pr-5">{{ example.text }}</p>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img class="example-img" src="{{ example.img }}" height="" alt="">
                        </div>
                    </div>
                {% else %}
                    <div class="row example py-5 flex-column-reverse flex-md-row mb-3">
                        <div class="col-sm-12 col-md-6">
                            <img class="example-img" src="{{ example.img }}" height="" alt="">
                        </div>
                        <div class="col-sm-12 col-md-6 text-right pb-4">
                            <h3 class="example-title display-4 pb-2">{{ example.title }}</h3>
                            <p class="pl-5">{{ example.text|safe }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    <section id="features" class="bg-light-2 text-dark">
        <div class="container feature text-center">
            <h3 class="display-4 pb-5">More Features</h3>
            <div class="row py-5">
                {% for feature in features %}
                    <div class="col-12 col-sm-6 col-lg-3 my-2">
                        <div class="card bg-light">
                            <div class="card-body py-5">
                                <i class="material-icons feature-icon pb-4">{{ feature.icon }}</i>
                                <h4 class="font-weight-light pb-2">{{ feature.title }}</h4>
                                <p class="feature-text">{{ feature.text }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row pt-5">
                <div class="col-4 stat pl-md-5 pt-5">
                    <i class="material-icons stat-icon text-secondary mb-3">trending_up</i>
                    <h4 class="stat-number" id="stats-guilds">many</h4>
                    <h5 class="stat-description font-weight-light">Discord Servers</h5>
                </div>
                <div class="col-4 stat pt-5">
                    <i class="material-icons stat-icon text-secondary mb-3">save</i>
                    <h4 class="stat-number" id="stats-backups">many</h4>
                    <h5 class="stat-description font-weight-light">Backups Saved</h5>
                </div>
                <div class="col-4 stat pr-md-5 pt-5">
                    <i class="material-icons stat-icon text-secondary mb-3">amp_stories</i>
                    <h4 class="stat-number" id="stats-templates">many</h4>
                    <h5 class="stat-description font-weight-light">Public Templates</h5>
                </div>
            </div>
        </div>
    </section>
    <section id="faq">
        <div class="container">
            <h3 class="display-4 pb-5 text-center">Got Questions?</h3>
            <div id="questionAccordion">
                {% for question in questions %}
                    <div class="card bg-dark question my-1">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn text-light question-btn text-left" data-toggle="collapse"
                                        data-target="#question{{ loop.index }}" aria-expanded="true"
                                        aria-controls="#question{{ loop.index }}">
                                    {{ question.question|safe }}
                                    <i class="material-icons float-right">add</i>
                                </button>
                            </h5>
                        </div>

                        <div id="question{{ loop.index }}" class="collapse" aria-labelledby="headingOne"
                             data-parent="#questionAccordion">
                            <div class="card-body">{{ question.answer|safe }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="text-center mt-5">
            <p class="font-italic">Didn't find what you were looking for? No problem!</p>
            <a class="btn btn-outline-secondary my-4 my-sm-0" href="/discord" target="_blank">
                <span class="align-middle">Support Discord</span>
            </a>
        </div>
    </section>
    <section id="tiers" class="bg-light-2">
        <div class="container text-dark">
            <h3 class="display-4 pb-5 text-center">Xenon Tiers</h3>
            <div class="row pt-3">
                {% for tier in tiers %}
                    <div class="col-sm-12 col-md-6 col-lg-3 my-2">
                        <div class="card bg-light tier">
                            <div class="card-body py-5">
                                <img class="tier-img" src="{{ tier.img }}" alt="">
                                <h3 class="card-title text-center pt-3">
                                    {{ tier.name }}
                                </h3>
                                <div class="divider bg-light-2"></div>
                                <div class="tier-features">
                                    {% for feature in tier.features %}
                                        <div class="px-1">
                                            {% if feature.value %}
                                                <i class="material-icons float-left text-success pr-2 pb-1">check_circle</i>
                                            {% else %}
                                                <i class="material-icons float-left text-danger pr-2 pb-1">cancel</i>
                                            {% endif %}
                                            <p class="m-2">{{ feature.text }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="divider bg-light-2"></div>
                                <div class="text-center pt-3">
                                    {{ tier.button }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center mt-5">
                <p class="font-italic">Not sure which tier fits your needs? Look at our Docs!</p>
                <a class="btn btn-outline-primary my-4 my-sm-0" href="/docs/premium" target="_blank">
                    Docs
                </a>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        function shortenNumber(number) {
            if (number > 1000) {
                number = (Math.floor(number / 100) / 10) + "k";
            }

            return number + "+";
        }

        $(() => {
            $.get("/api/stats").done(resp => {
                $("#stats-guilds").html(shortenNumber(resp.guild_count));
                $("#stats-backups").html(shortenNumber(resp.backup_count));
                $("#stats-templates").html(shortenNumber(resp.template_count));
            });
        });
    </script>
{% endblock %}