{% extends "base.jinja2" %}

{% block css %}
    <link rel="stylesheet" href="/static/legal.css">
{% endblock css %}

{% block main %}
    <div class="container py-5">
        <a href="https://www.iubenda.com/privacy-policy/88601334" class="iubenda-black no-brand iubenda-embed iub-no-markup iub-body-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    </div>
{% endblock main %}