{% extends "base.jinja2" %}

{% block css %}
    <link rel="stylesheet" href="/static/dashboard.css">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    <div class="d-flex" id="wrapper">
        <div class="bg-darker" id="sidebar-wrapper">
            <div class="sidebar-heading align-middle">
                <a class="btn p-1 text-light" href="/">
                    <i class="material-icons pr-1">home</i>
                </a>
                Xenon Bot
            </div>
            <div class="list-group list-group-flush">
                <a href="/dashboard"
                   class="list-group-item list-group-item-action list-group-item-dark bg-darker text-light">Home</a>
                <a href="/dashboard/templates"
                   class="list-group-item list-group-item-action list-group-item-dark bg-darker text-light">Templates</a>
                <a href="/dashboard/embedg"
                   class="list-group-item list-group-item-action list-group-item-dark bg-darker text-light">Embed
                    Generator</a>
            </div>
        </div>
        <div id="content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-dark bg-darker">
                <button class="btn btn-outline-light p-1" id="sidebar-toggle">
                    <i class="material-icons align-middle px-1">menu</i>
                </button>
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="load-user-avatar" src="" alt="">
                                    <span class="load-user-name"></span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <button class="dropdown-item" onclick="logout()">Logout</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container-fluid p-4">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
    <script src="/static/dashboard.js"></script>
    <script>
        $("#sidebar-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        $("body").removeClass("bg-dark").addClass("bg-darkest");
    </script>
{% endblock %}